%# vim: filetype=markdown :
<%
import os, configIniUtils
base = os.path.dirname(configIniUtils.get_install_url())
%>
* [About]({{base}}/home/)
* [Install]({{base}}/install/)
* [Formats]({{base}}/formats/)
* [Overrides]({{base}}/overrides/)
* [Structure]({{base}}/structure/)
